name: Weekly Sync from Develop to Stage

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout develop branch
        uses: actions/checkout@v2
        with:
          ref: develop

      - name: Create new branch
        run: |
          git checkout -b sync-to-stage
          git push origin sync-to-stage

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          title: "Sync develop to stage"
          body: "This PR syncs the develop branch to the stage branch."
          branch: "sync-to-stage"
          base: "stage"
          draft: false
          labels: "sync"
          reviewers: "cyz@gmail.com,xyz@gmail.com"
